<%- include('partials/header') %>


<% if (locals.answer) { %>
    <div class="text-center">
        <h2 class="h1 my-4">Page de la reponse : <%= answer.id %></h2>
    </div>

    <div class="row mb-3 text-center flew-wrap">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>description</th>
                    <th>Danger Zone</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= answer.id %></td>
                    <td><%= answer.description %></td>
                    <td><a href="/answers/<%= answer.id %>/delete" type="button" class="btn btn-danger js-delete-anwser">Effacer</a></td>
                </tr>
            </tbody>
        </table>

        <form action="/answers/<%= answer.id %>/edit" method="POST">
            <input type="text" value="<%= answer.description %>" name="description">
            <button type="submit">Envoyer</button>
        </form>

    </div>
<% } else { %>
    <p>Pas de ressource correspondantes à la recherche</p>
<% } %>
<%- include('partials/footer') %>