<%- include('partials/header') %>

  <h1>Inscription</h1>

  <!-- Toast en cas d'erreur -->
  <% if (locals.errors?.length) { %>
    <% errors.forEach(error => { %>

      <div class="alert alert-danger" role="alert">
        <p><%= error.type %></p>
        <p><%= error.value %></p>
        <p><%= error.message %></p>
      </div>
    <% }) %>
  <% } %>

  <form action="/register" method="POST">
    <label class="form-label h4" for="firstname">Prénom</label>
    <input class="form-control mb-4" type="text" id="firstname" name="firstname" placeholder="Prénom">

    <label class="form-label h4" for="lastname">Nom</label>
    <input class="form-control mb-4" type="text" id="lastname" name="lastname" placeholder="Nom">

    <label class="form-label h4" for="email">Email</label>
    <input class="form-control mb-4" type="email" id="email" name="email" placeholder="email@domain.com">

    <label class="form-label h4" for="password">Mot de passe</label>
    <input class="form-control" type="password" id="password" name="password" placeholder="*********">

    <label class="form-label h4" for="confirmation">Mot de passe</label>
    <input class="form-control" type="password" id="confirmation" name="password_confirm" placeholder="*********">

    <input class="btn btn-primary d-block my-4 mx-auto" type="submit" value="S'inscrire">
  </form>

<%- include('partials/footer') %>
